.user-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.user-layout__body {
  display: flex;
  flex: 1 0 auto;
  margin-top: 70px; /* ارتفاع الهيدر */
}
.user-layout__body > main {
  flex: 1;
  padding-bottom: 60px; /* للشريط السفلي */
}

/* سايد بار ثابت */
.dashboard-main-content {
  flex: 1;
  min-width: 0;
  transition: margin 0.3s;
}
[dir="rtl"] .dashboard-main-content {
  margin-right: 310px;
}
[dir="ltr"] .dashboard-main-content {
  margin-left: 310px;
}
@media (max-width: 1024px) {
  [dir="rtl"] .dashboard-main-content, [dir="ltr"] .dashboard-main-content {
    margin: 0;
  }
}